* text=auto

.github export-ignore

frontend export-ignore
tests export-ignore

.codecov.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.styleci.yml export-ignore

phpunit.php export-ignore
phpunit.xml export-ignore
