name: phpunit
on: [ push ]

jobs:
    build:

        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                laravel: [ "5.4", "5.5", "5.6", "5.7", "5.8", "6.0", "7.0", "8.0" ]
                php: [ "7.2", "7.3", "7.4", "8.0" ]

        name: PHP ${{ matrix.php }}, Laravel ${{ matrix.laravel }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: curl, mbstring, zip, pcntl, pdo, pdo_sqlite, iconv
                    coverage: xdebug

            -   name: Composer self update
                run: composer self-update

            -   name: Install dependencies
                run: |
                    composer require laravel/framework:^${{ matrix.laravel }}
                    composer update --prefer-stable --prefer-dist --no-progress --no-interaction

            -   name: Execute tests
                run: |
                    mkdir -p build/logs
                    vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
